body {
    font-family: helvetica;
    margin: 50px;
    padding: 0;
    background-color: #121212;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.info {
    margin-left: 10px; /* Add some spacing between the icon and text */
}

p {
    margin: 0; /* Remove default margins */
}

.upvote-pill,
.downvote-pill {
    display: inline-block;
    padding: 5px 10px;
    background-color: #121212;
    color: white;
    border-radius: 20px; /* Make it pill-shaped */
    font-weight: 600;
    border: 1px solid rgb(70, 70, 70);
    font-size: 12px;
}

.vote-container {
    display: flex;
    justify-content: flex-start;
    width: auto; /* Adjust width as needed */
    margin-top: 10px;
    border-radius: 60px; /* Make it a pill shape */
}

.top-comments {
    margin-top: 20px;
    width: 30%;
}

.top-comments ul {
    list-style-type: none;
    padding: 0;
}

.comment-info {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.comment-info .comment-user-avatar {
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-info .comment-details {
    color: rgb(210, 210, 210);
}

.comment-info .comment-username {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.comment-info .comment-upvotes {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: rgb(176, 176, 176);
}

.comment-text {
    margin: 0;
}
