<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='top_post.css') }}">
</head>
<body style="background-color: #121212; color: white">
    <div class="container">
        <img style="height: 30px; border-radius: 50%;" src="{{ icon }}">
        <div class="info">
            <p style="font-size: 13px; color: rgb(210, 210, 210); font-weight: 400">r/{{ subreddit }}</p>
            <p style="font-size: 13px; color: rgb(0, 140, 255); font-weight: 400">u/{{ author }}</p>
        </div>
        <p style="color: white; margin: 5px; padding-top: 16px; color: rgb(176, 176, 176); font-size: 12px"> • {{ time }}h</p>
    </div>
    <p style="font-weight: 700">{{ title }}</p>
    <div class="vote-container">
        <span class="upvote-pill">⤴   {{ upvotes }}  &nbsp; | &nbsp;   ⤵</span>
        <span style="margin-left: 10px"class="upvote-pill">💬 {{ comments }}</span>
    </div>

    <!-- Display top comments -->
    <div class="top-comments">
        <h3>Top Comments:</h3>
        <ul>
            {% for comment in top_comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
